<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">User Management</h4>
                <h5 class="card-subtitle">List of User</h5>
                
                <form class="w-50 m-b-30">
                    <input type='text' class="form-control" placeholder='search' (keyup)='updateFilter($event)' />
                </form>
                <ngx-datatable
                class="material "
                headerClass="cust-header"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'"
                [headerHeight]="55"
                [footerHeight]="56"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [externalSorting]="true"
                [scrollbarH]="true"
                [reorderable]="reorderable"
                [limit]="page.size"
                [count]="page.totalElements"
                [offset]="page.pageNumber"
                (page)='setPage($event)'
                (sort)="onSort($event)">


                    <ngx-datatable-column name="Firstname" prop="firstname" ></ngx-datatable-column>
                    <ngx-datatable-column name="Lastname" prop="lastname" ></ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop="email" ></ngx-datatable-column>
                    <ngx-datatable-column name="Department" prop="department"></ngx-datatable-column>
                    <ngx-datatable-column name="Action"
                        [canAutoResize]="false"
                        [sortable]="false">
                        <ng-template let-row = "row"
                            ngx-datatable-cell-template >
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="Edit">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item aria-label="Delete">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>

                        </ng-template>
                    </ngx-datatable-column> 

                </ngx-datatable>
            </div>
        </div>
    </div>
</div>