<div class="card gredient-info-bg m-t-0 m-b-0">
    <div class="card-body">
        <h4 class="card-title text-white">Welcome Ryan Shukry</h4>
        <h5 class="card-subtitle text-white op-5">Dashboard</h5>
        <div class="row m-t-30 m-b-20">
            <!-- col -->
            <div class="col-sm-12 col-lg-4">
                <div class="temp d-flex align-items-center flex-row">
                    <div class="display-5 text-white">
                        <i class="wi wi-day-showers"></i>
                        <span>73
                            <sup>°</sup>
                        </span>
                    </div>
                    <div class="m-l-10">
                        <h3 class="m-b-0 text-white">Thursday</h3>
                        <small class="text-white op-5">Kuala Lumpur, Malaysia</small>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-sm-12 col-lg-8">
                <div class="row">
                    <!-- col -->
                    <div class="col-sm-12 col-md-4">
                        <div class="info d-flex align-items-center">
                            <div class="m-r-10">
                                <i class="mdi mdi-wallet text-white display-5 op-5"></i>
                            </div>
                            <div>
                                <h3 class="text-white m-b-0">$6,890.68</h3>
                                <span class="text-white op-5">Net Profit</span>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-sm-12 col-md-4">
                        <div class="info d-flex align-items-center">
                            <div class="m-r-10">
                                <i class="mdi mdi-star-circle text-white display-5 op-5"></i>
                            </div>
                            <div>
                                <h3 class="text-white m-b-0">$769.08</h3>
                                <span class="text-white op-5">Refferal Earnings</span>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-sm-12 col-md-4">
                        <div class="info d-flex align-items-center">
                            <div class="m-r-10">
                                <i class="mdi mdi-basket text-white display-5 op-5"></i>
                            </div>
                            <div>
                                <h3 class="text-white m-b-0">5489</h3>
                                <span class="text-white op-5">Estimated Sales</span>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>
        </div>
    </div>
</div>